#center {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    font-size: 20vw;
}
body {
    background: linear-gradient(140deg, #cbc0ce 0px, #6b5f74 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.face {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}